<!-- Modal -->
<div class="modal fade" id="preview3DPopup" tabindex="-1" role="dialog" aria-labelledby="preview3DPopupLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="preview3DPopupLabel">STL View</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div style="border: 1px dashed rgb(0, 0, 0); border-radius: 15px; background: rgb(238, 238, 238); display: block; width: 100%;" id="stl_cont"></div>
              <div id="load_progess_3d_bar" style="width:86%; margin-left:4%; position:absolute; top:45%" class="progress">
                <div id="load_progess_3d" class="progress-bar" style="width:0%"></div>
              </div>
              <table style="width:100%; table-layout: fixed; margin-top:15px"><tr>
                <td style="text-align:center" title="Previous submission">
                  <button type="button" class="btn btn-sm btn-outline-dark" id="prev_button" onclick="prevSubmission()">
                    <i style="font-size:24px;" class="fa fa-caret-square-o-left"></i>
                  </button>
                </td>
                <td style="text-align:center" title="Download and Open">
                  <button type="button" class="btn btn-sm btn-outline-dark" onclick="downloadAndOpen()">
                    <i style="font-size:24px;" class="fa fa-cloud-download"></i>
                  </button>
                </td>
                <td style="text-align:center" title="Next submission">
                  <button type="button" class="btn btn-sm btn-outline-dark" id="next_button" onclick="nextSubmission()">
                    <i style="font-size:24px;" class="fa fa-caret-square-o-right"></i>
                  </button>
                </td>
              </tr></table>
            </div>
          <div class="modal-footer">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Enter your comment" id="comment" name="comment">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button"><i class="fa fa-send"></i></button>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
<h2>Student: <a href="/users#{{student}}">{{student}}</a></h2>
<h3>Model: {{model}}</h3>
<table class="table table-hover table-condensed table-bordered table-sm">
  <thead class="thead-dark"><th class="w-10">Feature ID</th><th class="w-10">Feature Type</th><th class="w-10">Change Type</th><th class="w-10">Time</th><th class="w-10">Likes</th><th class="w-60">Image</th></thead>
  {{#each changes}}
  <tr>
    <td>{{id}}</td>
    <td>{{type}}</td>
    <td style="text-align:center">{{modification}}</td>
    <td>{{time}}</td>
      {{#if submission}}
        <td style="text-align:center; font-size:150%">
          <span id="{{id}}">{{likes}}</span><br>
          {{#if ../principal}}
            <a title="Like this submission" href="javascript:likeSubmission ('{{id}}', '{{../student}}', '{{../model}}', '{{uuid}}', '{{../principal}}')">
              <img height="32" width="32" src="/images/favorite-icon.png">
            </a>
          {{else}}
            <img style="filter: brightness(75%);" title="Login to like this submission" height="32" width="32" src="/images/favorite-icon.png">
          {{/if}}
        </td><td>
          <a title="Preview 3D" href="javascript:preview3D ('{{subIdx}}')"><img style="border: 2px solid red ;border-radius: 25px;" height="150" width="150" src="{{url}}"></a>
        </td>
      {{else}}
       <td></td><td>
          <img style="border: 2px solid gray; border-radius: 25px;"  height="150" width="150" src="{{url}}">
        </td>
      {{/if}}
  </tr>
  {{/each}}
</table>
<script>
  var prevButton = document.getElementById("prev_button")
  var nextButton = document.getElementById("next_button")
  var stlWindow = document.getElementById("stl_cont")
  var progressBar = document.getElementById("load_progess_3d_bar")
  var progressStrip = document.getElementById("load_progess_3d")
  var submissions = []
  var currentSubIdx = -1
  {{#each changes}}
    {{#if submission}}
      submissions.push ({url:'{{stlUrl}}', id: '{{id}}'})
    {{/if}}
  {{/each}}
</script>